*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#description{
    font-size:12px;
    line-height: 200%;
}
#mc-embedded-subscribe-form{
    /* border-style: none!important; */
}

#mc-embedded-subscribe{
    background-color:brown;
}
